.plan-preview {
    width: 100%;
    border: 1px solid #417690;
}

.plan-preview td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.plan-preview-table-th {
    background-color: #417690;
    color: #fff;
    text-align: center;
}

.plan-preview-table-body {
    text-align: center;
}

